<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ehsan Darvishi</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="/SiteSample/css/aos.css?ver=1.1.0" rel="stylesheet">
    <link href="/SiteSample/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="/SiteSample/css/main.css?ver=1.1.0" rel="stylesheet">
    <noscript>
        <style type="text/css">
            [data-aos] {
                opacity: 1 !important;
                transform: translate(0) scale(1) !important;
            }
        </style>
    </noscript>
</head>
<body id="top">
    <header>
        <div class="profile-page sidebar-collapse">
            <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
                <div class="container">
                    <div class="navbar-translate">
                        <a class="navbar-brand" href="#" rel="tooltip"></a>
                        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                            <!--<li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>-->
                            <!--<li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>-->
                            <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div>
            <div class="profile-page">
                <div class="wrapper">
                    <div class="page-header page-header-small" filter-color="green">
                        <div class="page-header-image" data-parallax="true" style="background-image: url('/SiteSample/images/bgplus.jpg')"></div>
                        <div class="container">
                            <div class="content-center">
                                <div class="cc-profile-image"><a href="#"><img src="/SiteSample/images/Profile.jpg" alt="Image" /></a></div>
                                <div class="h2 title">Ehsan Darvishi</div>
                                <p class="category text-white">Web Developer, .Net Developer , C# Developer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                            </div>
                        </div>
                        <div class="section">
                            <div class="container">
                                <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/ehsan_darvishi.official/" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/ehsandarvishi2003" rel="tooltip" title="Follow me on GitHub"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/ehsan-darvishi-584404228/" rel="tooltip" title="Follow me on LinkdIn"><i class="fa fa-linkedin"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" href="https://t.me/ehsan_darvishi_2003" rel="tooltip" title="Tekst me on Telegram"><i class="fa fa-telegram"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="about">
                <div class="container">
                    <div class="card" data-aos="fade-up" data-aos-offset="10">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body">
                                    <div class="h4 mt-0 title">About</div>
                                    <p>Hello! I am a newcomer to the world of web development and C# programming, eager to learn and grow in this field. While my experience is limited, I bring a strong commitment to improving and expanding my skills as a programmer.</p>
                                    <p>
                                        My focus is on providing services to clients seeking to build websites, online stores, web applications, Windows applications, or projects requiring backend support. I may have limited experience, but I view every project as an opportunity for learning and advancement.

                                        I believe that with dedication, a focus on quality, and integrity in my work, I can add value to your projects. I'm actively expanding my knowledge and skills in various areas to become a more proficient programmer in the future.

                                        If you're interested in collaborating with a dedicated and eager-to-learn junior programmer, I'm looking forward to new projects and opportunities. Please feel free to get in touch with me."

                                        Feel free to use this biography when communicating with clients on Upwork or any other platform where you'd like to showcase your skills and willingness to learn.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="card-body">
                                    <div class="h4 mt-0 title">Basic Information</div>
                                    <div class="row">
                                        <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                                        <div class="col-sm-8">19</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                                        <div class="col-sm-8">ehsandarvishi2003@gmail.com</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                                        <div class="col-sm-8">+98-914 505 9117</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                                        <div class="col-sm-8">Punak, Tehran, Iran</div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                                        <div class="col-sm-8">Persian, Turkish(Conversational), English(Basic)</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="skill">
                <div class="container">
                    <div class="h4 text-center mb-4 title">Professional Skills</div>
                    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">C#</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div><span class="progress-value">85%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">ASP.Net Core</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">HTML</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 35%;"></div><span class="progress-value">35%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">CSS</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div><span class="progress-value">40%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">SQL Server</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">Entity Framework</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div><span class="progress-value">55%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">Python</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="progress-container progress-primary">
                                        <span class="progress-badge">Agile and Scrum</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div><span class="progress-value">70%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="section" id="portfolio">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto">
                    <div class="h4 text-center mb-4 title">Portfolio</div>
                    <div class="nav-align-center">
                      <ul class="nav nav-pills nav-pills-primary" role="tablist">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-content gallery mt-5">
                  <div class="tab-pane active" id="web-development">
                    <div class="ml-auto mr-auto">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                              <figure class="cc-effect"><img src="/SiteSample/images/project-1.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Recent Project</div>
                                  <p>Web Development</p>
                                </figcaption>
                              </figure></a></div>
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                              <figure class="cc-effect"><img src="/SiteSample/images/project-2.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Startup Project</div>
                                  <p>Web Development</p>
                                </figcaption>
                              </figure></a></div>
                        </div>
                        <div class="col-md-6">
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                              <figure class="cc-effect"><img src="/SiteSample/images/project-3.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Food Order Project</div>
                                  <p>Web Development</p>
                                </figcaption>
                              </figure></a></div>
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                              <figure class="cc-effect"><img src="/SiteSample/images/project-4.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Web Advertising Project</div>
                                  <p>Web Development</p>
                                </figcaption>
                              </figure></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="graphic-design" role="tabpanel">
                    <div class="ml-auto mr-auto">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                              <figure class="cc-effect"><img src="/SiteSample/images/graphic-design-1.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Triangle Pattern</div>
                                  <p>Graphic Design</p>
                                </figcaption>
                              </figure></a></div>
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                              <figure class="cc-effect"><img src="/SiteSample/images/graphic-design-2.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Abstract Umbrella</div>
                                  <p>Graphic Design</p>
                                </figcaption>
                              </figure></a></div>
                        </div>
                        <div class="col-md-6">
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                              <figure class="cc-effect"><img src="/SiteSample/images/graphic-design-3.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Cube Surface Texture</div>
                                  <p>Graphic Design</p>
                                </figcaption>
                              </figure></a></div>
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                              <figure class="cc-effect"><img src="/SiteSample/images/graphic-design-4.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Abstract Line</div>
                                  <p>Graphic Design</p>
                                </figcaption>
                              </figure></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="Photography" role="tabpanel">
                    <div class="ml-auto mr-auto">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                              <figure class="cc-effect"><img src="/SiteSample/images/photography-1.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Photoshoot</div>
                                  <p>Photography</p>
                                </figcaption>
                              </figure></a></div>
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                              <figure class="cc-effect"><img src="/SiteSample/images/photography-3.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Wedding Photoshoot</div>
                                  <p>Photography</p>
                                </figcaption>
                              </figure></a></div>
                        </div>
                        <div class="col-md-6">
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                              <figure class="cc-effect"><img src="/SiteSample/images/photography-2.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Beach Photoshoot</div>
                                  <p>Photography</p>
                                </figcaption>
                              </figure></a></div>
                          <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#Photography">
                              <figure class="cc-effect"><img src="/SiteSample/images/photography-4.jpg" alt="Image"/>
                                <figcaption>
                                  <div class="h4">Nature Photoshoot</div>
                                  <p>Photography</p>
                                </figcaption>
                              </figure></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
            <!--Portfolio part-->
            <!--<div class="section" id="experience">
              <div class="container cc-experience">
                <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p>March 2016 - Present</p>
                        <div class="h5">CreativeM</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Front End Developer</div>
                        <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p>April 2014 - March 2016</p>
                        <div class="h5">WebNote</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Web Developer</div>
                        <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-experience-header">
                        <p>April 2013 - February 2014</p>
                        <div class="h5">WEBM</div>
                      </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                        <div class="h5">Intern</div>
                        <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <!--experience part-->
            <!<div class="section">
                <div class="container cc-education">
                    <div class="h4 text-center mb-4 title">Education</div>

                    <!--<div class="card">
                      <div class="row">
                        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body cc-education-header">
                            <p>2013 - 2015</p>
                            <div class="h5">Master's Degree</div>
                          </div>
                        </div>
                        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                          <div class="card-body">
                            <div class="h5">Master of Information Technology</div>
                            <p class="category">University of Computer Science</p>
                            <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
                          </div>
                        </div>
                      </div>
                    </div>-->

                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body cc-education-header">
                                    <p>
                                        2022 - 2026
                                        <div class="h5">Bachelor's Degree</div>
                                </div>
                            </div>
                            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body">
                                    <div class="h5">Bachelor of Computer Science</div>
                                    <p class="category">University of Mohaghegh Ardabili</p>
                                    <p>currently a second-semester computer science student at Mohaghegh Ardabili University.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body cc-education-header">
                                    <p>2019 - 2022</p>
                                    <div class="h5">High School</div>
                                </div>
                            </div>
                            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                                <div class="card-body">
                                    <div class="h5">Math and Physics</div>
                                    <p class="category">School of Secondary board</p>
                                    <p>Euismod massa scelerisque suspendisse fermentum habitant vitae ullamcorper magna quam iaculis, tristique sapien taciti mollis interdum sagittis libero nunc inceptos tellus, hendrerit vel eleifend primis lectus quisque cubilia sed mauris. Lacinia porta vestibulum diam integer quisque eros pulvinar curae, curabitur feugiat arcu vivamus parturient aliquet laoreet at, eu etiam pretium molestie ultricies sollicitudin dui.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="reference">
                <div class="container cc-reference">
                    <div class="h4 mb-4 text-center title">References</div>
                    <div class="card" data-aos="zoom-in">
                        <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
                                <li data-target="#cc-Indicators" data-slide-to="1"></li>
                                <li data-target="#cc-Indicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 cc-reference-header">
                                            <img src="/SiteSample/images/reference-image-1.jpg" alt="Image" />
                                            <div class="h5 pt-2">Aiyana</div>
                                            <p class="category">CEO / WEBM</p>
                                        </div>
                                        <div class="col-lg-10 col-md-9">
                                            <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 cc-reference-header">
                                            <img src="/SiteSample/images/reference-image-2.jpg" alt="Image" />
                                            <div class="h5 pt-2">Braiden</div>
                                            <p class="category">CEO / Creativem</p>
                                        </div>
                                        <div class="col-lg-10 col-md-9">
                                            <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 cc-reference-header">
                                            <img src="/SiteSample/images/reference-image-3.jpg" alt="Image" />
                                            <div class="h5 pt-2">Alexander</div>
                                            <p class="category">CEO / Webnote</p>
                                        </div>
                                        <div class="col-lg-10 col-md-9">
                                            <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section" id="contact">
                <div class="cc-contact-information" style="background-image: url('/SiteSample/images/staticmap2.png')">
                    <!--It work!!-->
                    <div class="container">
                        <div class="cc-contact">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="card mb-0" data-aos="zoom-in">
                                        <div class="h4 text-center title">Contact Me</div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <form action="https://formspree.io/f/mjvqopkg" method="POST">
                                                        <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                                                                    <input class="form-control" type="text" name="name" placeholder="Name" required="required" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                                                    <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                                    <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-3">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <button class="btn btn-primary" type="submit">Send</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-body">
                                                    <p class="mb-0"><strong>Address </strong></p>
                                                    <p class="pb-2">Punak, Tehran, Iran</p>
                                                    <p class="mb-0"><strong>Phone</strong></p>
                                                    <p class="pb-2">Punak, Tehran, Iran</p>
                                                    <p class="mb-0"><strong>Email</strong></p>
                                                    <p>ehsandarvishi2003@gmail.com</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">

        <div class="container text-center"><a class="cc-facebook btn btn-link" href="https://www.instagram.com/ehsan_darvishi.official/"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="https://github.com/ehsandarvishi2003"><i class="fa fa-github fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="https://www.linkedin.com/in/ehsan-darvishi-584404228/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="https://t.me/ehsan_darvishi_2003"><i class="fa fa-telegram fa-2x " aria-hidden="true"></i></a></div>
        <!--<div class="h4 title text-center">Anthony Barnett</div>
        <div class="text-center text-muted">
          <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p>
        </div>-->
    </footer>
    <script src="/SiteSample/js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="/SiteSample/js/core/popper.min.js?ver=1.1.0"></script>
    <script src="/SiteSample/js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="/SiteSample/js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="/SiteSample/js/aos.js?ver=1.1.0"></script>
    <script src="/SiteSample/scripts/main.js?ver=1.1.0"></script>
</body>
</html>
@RenderBody()